wsdl/xsds/WTR_DeliveryOrderCreateRQ_2D46.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- File was originally: xsd/4/dev/client_interfaces/xsd/wtr/WTR_DeliveryOrderCreateRQ.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://sita.aero/WTR_DeliveryOrderCreateRQ/10/0" xmlns:iata="http://www.iata.org/IATA/2007/00" xmlns:common="http://sita.aero/wtr/common/10/0" targetNamespace="http://sita.aero/WTR_DeliveryOrderCreateRQ/10/0" elementFormDefault="qualified" version="1.08" id="WTR2009A">
	<xs:import namespace="http://sita.aero/wtr/common/10/0" schemaLocation="WTR_BagTypes_44BB.xsd"><!-- Originally: WTR_BagTypes.xsd --></xs:import>
	<xs:import namespace="http://www.iata.org/IATA/2007/00" schemaLocation="IATA_ET_CommonTypes_FA0A.xsd"><!-- Originally: IATA_ET_CommonTypes.xsd --></xs:import>
	<xs:element name="WTR_DeliveryOrderCreateRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">BDO - Request for creating a delivery order for bags in WTR</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!-- Define other elements required for the specific request -->
				<xs:element name="POS" type="iata:POS_Type"/>
				<xs:element name="RecordID" type="common:RecordIdentifierType"/>
				<xs:element name="DeliveryOrder">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeliveryCompany">
								<xs:annotation>
									<xs:documentation>Contins company details - DS, CW and SE</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="Email" type="common:EmailType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>SE - Company email, default email is taken from DSB if not entered.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="WebAddress" minOccurs="0">
											<xs:annotation>
												<xs:documentation>CW - Company web address, default web address is taken from DSB if not entered.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="44"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Station" type="iata:StationType" use="required"/>
									<xs:attribute name="CustomerCode" type="common:CustomerCodeType" use="required"/>
									<xs:attribute name="ID" type="iata:AlphaNumericStringLength1to3" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="DeliveryInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Names" minOccurs="0">
											<xs:annotation>
												<xs:documentation>NM - Names. Name 1 should be the same as in the bag record</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" maxOccurs="3">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="common:AlphaLength2to16">
																	<xs:attribute name="Seq" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:int">
																				<xs:minInclusive value="1"/>
																				<xs:maxInclusive value="3"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GivenNames" minOccurs="0">
											<xs:annotation>
												<xs:documentation>GN - Passnger given first names</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="common:AlphaLength2to16" maxOccurs="3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Address">
											<xs:annotation>
												<xs:documentation>AB, PA, TA, DA - Any one of address type with all the address elements</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="common:WTR_AddressType">
														<xs:attribute name="Type" use="required">
															<xs:simpleType>
																<xs:restriction base="xs:NMTOKEN">
																	<xs:enumeration value="AB"/>
																	<xs:enumeration value="PA"/>
																	<xs:enumeration value="TA"/>
																	<xs:enumeration value="DA"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Phones" minOccurs="0">
											<xs:annotation>
												<xs:documentation>PN, CP, BP, TP - Max of two Phones allowed</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" maxOccurs="2">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="common:StringLength1to20">
																	<xs:attribute name="Seq" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:int">
																				<xs:minInclusive value="1"/>
																				<xs:maxInclusive value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="Type" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:NMTOKEN">
																				<xs:enumeration value="PN"/>
																				<xs:enumeration value="CP"/>
																				<xs:enumeration value="BP"/>
																				<xs:enumeration value="TP"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Emails" minOccurs="0">
											<xs:annotation>
												<xs:documentation>EA - Email address of the passenger</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Email" type="common:StringLength0to58AmendType" maxOccurs="2"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="LocalDlvInfo" minOccurs="0">
											<xs:annotation>
												<xs:documentation>LD - Contains local delivery information and special instructions</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DlvInfo" maxOccurs="2">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="common:StringLength0to58">
																	<xs:attribute name="Seq" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:int">
																				<xs:minInclusive value="1"/>
																				<xs:maxInclusive value="2"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SchedDlvDate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>OF - Scheduled delivery date</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="common:StringLength1to58">
														<xs:attribute name="Seq">
															<xs:simpleType>
																<xs:restriction base="xs:int">
																	<xs:minInclusive value="0"/>
																	<xs:maxInclusive value="99"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PickedUpDlvDate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>UP - Bag picked up for delivery from airport</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="common:StringLength1to58">
														<xs:attribute name="Seq">
															<xs:simpleType>
																<xs:restriction base="xs:int">
																	<xs:minInclusive value="0"/>
																	<xs:maxInclusive value="99"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>										
										<xs:element name="TrackingNbrs" minOccurs="0">
											<xs:annotation>
												<xs:documentation>TR - Tracking numbers</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TrackingNbr" type="common:StringLength1to15" minOccurs="0" maxOccurs="10">
														<xs:annotation>
															<xs:documentation>TR - Tracking number</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DeliveryDate" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>DD - Delivery Date</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DeliveryWeight">
										<xs:annotation>
											<xs:documentation>DW - Delivery weight</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="9"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Bags">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Bag" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ColorType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>CT - Color type</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ColorCode" type="common:ColorCodeType"/>
															<xs:attribute name="TypeCode" type="common:BagTypeCodeType"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="BagTag" type="common:BagTagType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>TN - Tag number</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BrandInfo" minOccurs="0">
														<xs:annotation>
															<xs:documentation>BI - Contains bag manufacturers name</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="common:StringLength2to58">
																	<xs:attribute name="Suspended" type="xs:boolean"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="LockCode" type="common:AlphaNumericStringLength1to6" minOccurs="0">
														<xs:annotation>
															<xs:documentation>CL - Cobination lock code of a bag</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Seq" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:int">
															<xs:minInclusive value="1"/>
															<xs:maxInclusive value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Cost" type="common:PassengerPaymentType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>CS - Cost</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RechargeCode" type="common:CustomerCodeType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Recharge customer code</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SupplimentalInfo" minOccurs="0">
								<xs:annotation>
									<xs:documentation>SI - Supplimental info</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TextLine" maxOccurs="2">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="common:StringLength1to58"/>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ValidityDate" type="xs:date" minOccurs="0">
								<xs:annotation>
									<xs:documentation>DV - Validity Date</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ValidityTime" type="xs:time" minOccurs="0">
								<xs:annotation>
									<xs:documentation>DV - Time till the temp address is valid.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Itinerary" minOccurs="0">
								<xs:annotation>
									<xs:documentation>FD/RT - Flights, dates and routes the passenger travelled</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FlightSegments">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FlightSegmentOrARNK" type="common:FlightSegmentOptionalDateOrARNKType" maxOccurs="5">
														<xs:annotation>
															<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AdditionalRoutes" minOccurs="0">
											<xs:annotation>
												<xs:documentation>RT - Additional route stations</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Route" type="iata:StationType" maxOccurs="13"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BaggageItinerary" minOccurs="0">
								<xs:annotation>
									<xs:documentation>BR - Itenerary on the bags</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FlightDateOrARNK" type="common:FlightDateOrARNKType" maxOccurs="5">
											<xs:annotation>
												<xs:documentation>FD/BR/FO/NF - Flight Segment type or ARNK</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FaultAirline" type="iata:AirlineType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>FA - Airline responsible for the mishandling of the bag</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CustomsInfo" type="common:StringLength1to58" minOccurs="0">
								<xs:annotation>
									<xs:documentation>CI - Contains Information about special circumstances involving customs</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PartnerCode" minOccurs="0">
								<xs:annotation>
									<xs:documentation>PC - Contins the carrier code of the code share partner</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="CarrierCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z0-9]{2,3}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="None" type="common:EmptyType"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TeletypeAddresses" minOccurs="0">
					<xs:annotation>
						<xs:documentation>TX - Optional teletype addresses</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TeletypeAddress" type="iata:TTY_Address" maxOccurs="5"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AgentID" type="common:StringLength1to12">
					<xs:annotation>
						<xs:documentation>AG - Agent Identification</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="common:WTR_PayloadAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>