wsdl/xsds/WTR_StationTypes_FCC4.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- File was originally: xsd/73/dev/client_interfaces/xsd/wtr/WTR_StationTypes.xsd -->
<!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by David McGowan (SITA) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iata="http://www.iata.org/IATA/2007/00" xmlns="http://sita.aero/wtr/common/10/0" targetNamespace="http://sita.aero/wtr/common/10/0" elementFormDefault="qualified" version="1.11" id="WTR2009A">
	<xs:include schemaLocation="WTR_BagTypes_44BB.xsd"><!-- Originally: WTR_BagTypes.xsd --></xs:include>
	<xs:import namespace="http://www.iata.org/IATA/2007/00" schemaLocation="IATA_ET_CommonTypes_FA0A.xsd"><!-- Originally: IATA_ET_CommonTypes.xsd --></xs:import>
	<xs:attributeGroup name="StationConfigGrp">
		<xs:attributeGroup ref="StationAirlineGroup"/>
		<xs:attribute name="UpdateDate" type="xs:date"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="StationCustomerConfigGrp">
		<xs:attributeGroup ref="StationCustomerGroup"/>
		<xs:attribute name="UpdateDate" type="xs:date"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="StationParticipancyGrp">
		<xs:attribute name="Module" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="WT"/>
					<xs:enumeration value="WM"/>
					<xs:enumeration value="WI"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Status" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="A"/>
					<xs:enumeration value="I"/>
					<xs:enumeration value="T"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Access" type="YesNoType" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="StationConfigType">
		<xs:annotation>
			<xs:documentation>Contains data for DSS 1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Handler">
				<xs:complexType>
					<xs:attribute name="Current" type="CustomerCodeType" use="required"/>
					<xs:attribute name="New" type="CustomerCodeType"/>
					<xs:attribute name="EffectiveDate" type="xs:dateTime"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Participancy" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>One for each module is requred. If not sent Status will be sent as blanks to WTR</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="StationParticipancyGrp"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefaultAddress">
				<xs:complexType>
					<xs:attribute name="Email" type="EmailType"/>
					<xs:attribute name="TTY" type="iata:TTY_Address"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="MatchDlvryAttribs" minOccurs="6" maxOccurs="6">
				<xs:annotation>
					<xs:documentation>Seq:
1 - Matches
2 - Delayed bag prompts
3 - On-hand bag prompts
4 - Damaged bag prompts
5 - EC messages
6 - Claims matches
</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="Seq">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="6"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="StationCustomerGroup"/>
					<xs:attribute name="TTY" type="iata:TTY_Address"/>
					<xs:attribute name="Days">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Options">
				<xs:complexType>
					<xs:attribute name="LZ" type="YesNoType"/>
					<xs:attribute name="SITA_Ref" type="YesNoType"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationCustomerConfigGrp"/>
	</xs:complexType>
	<xs:complexType name="StationAttributesType">
		<xs:annotation>
			<xs:documentation>Contains data for DSS 2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Options">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActionFile" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Menu" type="xs:boolean" default="false"/>
								<xs:attribute name="Expand" type="xs:boolean" default="false"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Record" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="OHD_Ack" type="xs:boolean" default="false"/>
								<xs:attribute name="Secondary_RL" type="xs:boolean" default="false"/>
								<xs:attribute name="Ref_Mandatories" type="xs:boolean"/>
								<xs:attribute name="Password_Mandatories" type="xs:boolean"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Email" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Auto" type="xs:boolean" default="false"/>
								<xs:attribute name="DSE" type="xs:boolean" default="false"/>
								<xs:attribute name="Manual" type="xs:boolean" default="false"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="SMS" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Auto" type="xs:boolean" default="false"/>
								<xs:attribute name="DSM" type="xs:boolean" default="false"/>
								<xs:attribute name="Manual" type="xs:boolean" default="false"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="LM_Area" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="User" type="xs:boolean" default="false"/>
								<xs:attribute name="TTY" type="iata:TTY_Address"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Prompt" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Station" type="iata:StationType"/>
								<xs:attribute name="Airline" type="CustomerCodeType"/>
								<xs:attribute name="System" type="xs:boolean"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Report" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="CntrlTarget">
									<xs:simpleType>
										<xs:restriction base="xs:float">
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="TotalTarget">
									<xs:simpleType>
										<xs:restriction base="xs:float">
											<xs:minInclusive value="0"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="HardCopy">
							<xs:complexType>
								<xs:attribute name="TeletypeAddress" type="iata:TTY_Address"/>
								<xs:attribute name="Email" type="EmailType"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="AutomatedReports" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="Reports" type="xs:boolean" default="false"/>
								<xs:attribute name="MRI" type="xs:boolean" default="false"/>
								<xs:attribute name="MRS" type="xs:boolean" default="false"/>
								<xs:attribute name="MSL" type="xs:boolean" default="false"/>
								<xs:attribute name="TeletypeAddress" type="iata:TTY_Address"/>
								<xs:attribute name="Email" type="EmailType"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="TNT_Match" type="xs:boolean" default="false"/>
					<xs:attribute name="QOH_Days">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationCustomerConfigGrp"/>
	</xs:complexType>
	<xs:complexType name="StationPIR_Type">
		<xs:annotation>
			<xs:documentation>Contains data for DSS PIR Configuration</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Line" minOccurs="0" maxOccurs="5">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to60">
							<xs:attribute name="Seq">
								<xs:simpleType>
									<xs:restriction base="xs:short">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Signature" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Pax" type="xs:boolean" default="false"/>
					<xs:attribute name="Agent" type="xs:boolean" default="false"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationCustomerConfigGrp"/>
		<xs:attributeGroup ref="StationPIR_HdrGrp"/>
		<xs:attribute name="EffectiveOn" type="xs:dateTime"/>
		<xs:attribute name="DefaultLanguage"/>
	</xs:complexType>
	<xs:attributeGroup name="StationPIR_HdrGrp">
		<xs:attribute name="RecordType" type="RecordType">
			<xs:annotation>
				<xs:documentation>Only Delayed and Damaged type are valid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Delayed" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>/N option for delayed update</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type">
			<xs:annotation>
				<xs:documentation>Header/Footer</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="HEADER"/>
					<xs:enumeration value="FOOTER"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Lang" type="xs:language"/>
	</xs:attributeGroup>
	<xs:complexType name="StationCodeShareType">
		<xs:annotation>
			<xs:documentation>Contains Station Code share config data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodeShare" minOccurs="36" maxOccurs="36">
				<xs:complexType>
					<xs:attribute name="Airline" type="iata:AirlineType"/>
					<xs:attribute name="AgentCode">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9]{2,3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Days">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[0-9]{1,2}|X"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="PassTo">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[A-Z]{3}[A-Z0-9]{2,3}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="HandledCopy" type="iata:TTY_Address"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationConfigGrp"/>
	</xs:complexType>
	<xs:complexType name="StationSMS_Type">
		<xs:annotation>
			<xs:documentation>Contains Station SMS config data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Airlines" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Airline" minOccurs="168" maxOccurs="168">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="0"/>
									<xs:maxLength value="3"/>
									<xs:pattern value="([A-Z0-9]{2,3})|()"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationConfigGrp"/>
	</xs:complexType>
	<xs:complexType name="StationHandledPIR_Type">
		<xs:annotation>
			<xs:documentation>Contains Station Handled airline PIR config</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Line" maxOccurs="5">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="StringLength0to60">
										<xs:attribute name="Seq">
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="StationCustomerConfigGrp"/>
		<xs:attribute name="Lang" type="xs:language"/>
		<xs:attribute name="IATA_Default" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="StationBagDlvryConfigType">
		<xs:sequence>
			<xs:element name="Header" type="StringLength0to60" minOccurs="0" maxOccurs="2"/>
			<xs:element name="ServiceInfo" minOccurs="0" maxOccurs="9">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to45">
							<xs:attribute name="DlvId">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z]{3}|[0-9]{2,3}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Id">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z]{2}([0-9]{2})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Delete" type="xs:boolean"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Seq">
			<xs:simpleType>
				<xs:restriction base="xs:short">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="StationCustomerConfigGrp"/>
		<xs:attribute name="Delayed" type="xs:boolean"/>
		<xs:attribute name="EffectiveDate" type="xs:dateTime"/>
	</xs:complexType>
</xs:schema>